<header
  class="container mx-auto bg-primary h-[400px] border-x border-b-1 border-black flex flex-col align-center justify-center"
>
  <h1
    class="text-3xl md:text-6xl text-center text-secondary border-b-2 inline-block border-black self-center p-2"
  >
    Alan Martin
  </h1>
  <h2 class="text-xl md:text-3xl text-center p-2 text-orange-500 text">
    Software Developer
  </h2>
</header>
