---

---

<section id="about">
  <div
    class="container mx-auto bg-white border-x border-b border-black p-6 flex flex-col-reverse md:flex-row"
  >
    <div class="w-full md:w-1/2 border-black border p-8">
      <h2 class="text-3xl font-bold">Hi, I'm Alan!</h2>
      <p class="text-lg font-light my-5 text-justify">
        I am a software developer with a background in the culinary arts. Having
        worked with several early-stage startups, including Tablz, Ambassador
        AI, and Fulhaus, I bring a unique perspective to my development work.
        While I have a strong affinity for coding and a particular fondness for
        TypeScript, I am always eager to learn new technologies, such as Rust
        and Golang. Continuous learning and staying up-to-date with industry
        advancements are crucial to me. With a passion for problem-solving and a
        dedication to crafting elegant code, I am excited to collaborate with
        you and transform your ideas into reality. Let's create something
        extraordinary together!
      </p>
      <a
        class="text-lg border-b border-black pb-1 block-inline font-light mr-5"
        href="/about"
      >
        Learn more about me
      </a>
      <a
        class="text-lg border-b border-black pb-1 block-inline font-light border-t-0"
        href="/work"
      >
        See my work
      </a>
    </div>
    <div
      class="bg-neutral-200 w-full md:w-1/2 border-black border border-b-0 md:border-l-0 relative h-[400px] md:h-auto"
    >
      <img
        class="object-cover object-center h-full w-full absolute filter filter-grayscale filter-grayscale-50"
        src="/images/about.jpeg"
        alt="Me (Alan) in the Tehuacán Temple in Mexico"
      />
    </div>
  </div>
</section>

<!-- About:
  Welcome to my website! I'm a passionate software developer with a diverse background and a deep love for coding. With experience in working with numerous early-stage startups, including Tablz, Ambassador AI, and Fulhaus, I bring a unique perspective to every project I undertake.

My journey into the world of technology began after a successful career as a chef. While I enjoyed creating culinary masterpieces, I found my true calling in coding and decided to pursue it wholeheartedly. Since then, I have dedicated myself to honing my skills and expanding my knowledge in the ever-evolving field of software development.

As a developer, I thrive on challenges and enjoy pushing the boundaries of what's possible. I am particularly fond of using TypeScript as my primary language, as its strong typing system allows me to build robust and scalable applications. However, I'm always eager to explore new technologies and have recently delved into languages like Rust and Golang to broaden my skill set even further.

Continuous learning is a vital part of my journey, and I constantly strive to stay up-to-date with the latest advancements in the industry. By keeping my finger on the pulse of emerging trends and technologies, I ensure that my work remains innovative and cutting-edge.

Whether it's crafting elegant code, solving complex problems, or collaborating with talented teams, I find immense joy in the art of software development. I'm excited to bring my expertise and passion to your projects and help transform your ideas into reality. Let's create something extraordinary together!

Feel free to explore my website and get in touch. I look forward to connecting with you and discussing how we can collaborate to bring your vision to life.
-->
