---

---

<section id="about">
  <div
    class="container mx-auto bg-white border-x border-b border-black p-6 flex flex-col-reverse md:flex-row"
  >
    <div class="w-full md:w-1/2 border-black border p-8">
      <h1 class="text-xl md:text-3xl font-bold">Hi, I'm Alan!</h1>
      <p class="text-lg font-light my-2 md:my-5">
        I’m a Toronto-based <span class="font-medium text-orange-500"
          >software developer</span
        > who builds performant and accessible web applications. With experience
        across startups like Xanadu, Tablz, Ambassador AI, and Fülhaus, I focus
        on creating thoughtful products that make complex ideas simple. My
        background in fine dining taught me precision and collaboration, values
        I now bring to every project I code.
      </p>
      <a
        class="text-lg border-b border-black pb-1 block-inline font-light mr-4 md:mr-5"
        href="/about"
      >
        Learn more
      </a>
      <a
        class="text-lg border-b border-black pb-1 block-inline font-light border-t-0"
        href="/work"
      >
        See my work
      </a>
    </div>
    <div
      class="bg-neutral-200 w-full md:w-1/2 border-black border border-b-0 md:border-b md:border-l-0 relative h-[300px] md:h-auto"
    >
      <img
        class="object-cover object-center h-full w-full absolute"
        src="/images/about.jpeg"
        alt="Me (Alan) in the Tehuacán Temple in Mexico"
      />
    </div>
  </div>
</section>
