---

---

<section
  id="#about"
  class="container mx-auto border-x border-b border-black bg-white p-6"
>
  <div class="flex flex-col md:flex-row gap-6">
    <div class="md:w-1/2 border border-black relative min-h-[400px]">
      <img
        class="h-full w-full object-cover object-center absolute"
        src="/images/about-2.png"
        alt="Portrait of Alan Martin standing in front of a barred window with palm trees behind the,"
      />
    </div>
    <div class="flex flex-col gap-3 md:w-1/2 border-black border p-6">
      <h2 class="text-xl md:text-3xl">My Journey</h2>
      <p class="text-lg font-light">
        In my journey as a software developer, I've embarked on a unique path
        that began in the world of fine-dining cuisine. Having honed my
        leadership skills, communication abilities, and meticulous work ethic in
        some of Canada's best restaurants, such as Canoe in Toronto, I
        transitioned my career in 2019 to make more time for family and pursue a
        new skill.
      </p>
      <p class="text-lg font-light">
        During my time at Juno College of Technology, I discovered a profound
        passion for coding that harmonized beautifully with my culinary
        background. The world of software development captivated me, providing
        an outlet for my problem-solving abilities and an avenue for continuous
        learning. It became evident that this field, with its potential to make
        a positive impact on people's lives, would be my new calling.
      </p>
      <p class="text-lg font-light">
        Since then, I have been fortunate to work with various early-stage
        startups, including Xanadu, Tablz, Ambassador AI, and Fulhaus. These experiences
        have deepened my enthusiasm for software development, as I have
        witnessed firsthand the incredible transformation technology can bring
        to innovative solutions.
      </p>
      <p class="text-lg font-light">
        Crafting elegant and efficient code, constructing robust applications,
        and collaborating with like-minded individuals bring me immense
        fulfillment. I relish the challenges and opportunities that arise from
        working with cutting-edge technologies and diverse teams. By constantly
        staying up-to-date with the latest advancements, I ensure that my
        contributions remain at the forefront of innovation.
      </p>
      <p class="text-lg font-light">
        Software development is not merely a profession to me; it is a
        gratifying journey of personal growth. My unique combination of culinary
        expertise and coding skills enables me to bring a fresh perspective and
        a blend of creativity to every project. I am dedicated to making a
        significant impact and expanding my horizons in this dynamic field.
        Being a part of multiple early-stage startups has instilled in me the
        values of adaptability, collaboration, and the excitement of nurturing
        innovative ideas into reality.
      </p>
      <a
        class="text-lg border-b border-black pb-1 block-inline font-light mr-4 md:mr-5 self-start"
        href="#contact"
      >
        Let's connect
      </a>
    </div>
  </div>
</section>
