---
const year = new Date().getFullYear();
---

<footer>
	<div class='container side-borders p-2'>
		<p>Created by Alan Martin {year} &copy;</p>
		<ul>
			<!-- socials -->
		</ul>
	</div>
</footer>

<style>
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #282828;
		color: #fafafa;
		border-radius: 0 0 1rem 1rem;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
</style>
