---
const year = new Date().getFullYear();
---

<footer>
  <div
    class="container mx-auto p-6 text-white text-sm bg-black border-b border-secondary rounded-b-xl"
  >
    <p class="text-center">Created by Alan Martin {year} &copy;</p>
  </div>
</footer>
