---
type Props = {
  title?: string;
  subtitle: string;
};

const { title = 'Alan Martin', subtitle } = Astro.props;
---

<header
  class="container mx-auto bg-white h-[400px] border-x border-b border-black flex flex-col align-center justify-center"
>
  <h1
    class="text-3xl md:text-6xl text-center text-secondary border-b-2 inline-block border-black self-center p-2"
  >
    {title}
  </h1>
  <h2 class="text-xl md:text-3xl text-center p-2 text-orange-500 text">
    {subtitle}
  </h2>
</header>
