<header>
	<div class='container side-borders p-2'>
		<div class='placeholder-hero'>
			<!-- We will put a image or blog post here -->
		</div>
	</div>
</header>

<style>
	.container {
		border-bottom: 1px solid #000;
	}

	.placeholder-hero {
		height: 400px;
		background-color: #eee;
	}
</style>
