---
type Props = {
  text: string;
  link: string;
  newTab?: boolean;
};

const { text, link, newTab = false } = Astro.props;
---

<li>
  <a
    class="text-base hover:opacity-70 hover:translate-y-[-0.15rem] hover:scale-105 focus:translate-y-[-0.15rem] focus:scale-105 transition-all duration-75 ease-linear block"
    target={newTab ? ' _blank' : '_self'}
    href={link}
  >
    {text}
  </a>
</li>
