<header class="">
  <div
    class="container mx-auto bg-white border-x border-black px-6 py-6 border-b"
  >
    <div
      class="h-[400px] bg-gr bg-neutral-200 flex justify-center items-center border-black border bg-[url('/images/hero.png')] md:bg-center bg-right bg-cover bg-no-repeat relative"
    >
      <div class="bg-black absolute top-0 right-0 left-0 bottom-0 opacity-20">
      </div>
      <div class="flex gap-4 md:flex-row flex-col">
        <a
          href="#contact"
          class="px-4 py-2 md:px-6 md:py-3 block bg-secondary text-white hover:opacity-70 focus:opacity-70 ease-in-out duration-150 relative z-10 text-center text-sm md:text-base"
        >
          Let's Chat
        </a>
        <a
          download
          href="/files/alan-martin_sr-software-developer.pdf"
          class="px-4 py-2 md:px-6 md:py-3 block bg-secondary text-white hover:opacity-70 focus:opacity-70 ease-in-out duration-150 relative z-10 text-center text-sm md:text-base"
        >
          My CV
        </a>
      </div>
    </div>
  </div>
</header>
