---
import HeaderLink from '../components/HeaderLink.astro';
---

<nav
  class="container mx-auto bg-primary rounded-t-2xl border border-black py-4 px-6"
>
  <div class="flex justify-between items-center flex-col md:flex-row">
    <a href="/" class="mb-3 md:mb-0 block">
      <img
        class="w-[40px] md:w-[75px]"
        src="/images/AM-logo.png"
        alt="AM for Alan Martin"
      />
    </a>
    <ul class="flex gap-5 text-xl">
      <HeaderLink text="Home" link="/" />
      <HeaderLink text="About" link="/about" />
      <HeaderLink text="Blog" link="/blog" />
      <HeaderLink text="Work" link="/work" />
      <HeaderLink text="Contact" link="#contact" />
    </ul>
  </div>
</nav>
