---
import HeaderLink from '../components/HeaderLink.astro';
---

<nav>
	<div class='navbar container side-borders'>
		<div class='logo'>
			<a href='/'>
				<h1 title='Alan Martin'>a.m</h1>
			</a>
		</div>
		<ul>
			<HeaderLink text='About' link='#about' />
			<HeaderLink text='Blog' link='/blog' />
			<HeaderLink text='Work' link='/work' />
			<HeaderLink text='Contact' link='#contact' />
		</ul>
	</div>
</nav>

<style>
	.navbar {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		border-radius: 1rem 1rem 0 0;
		padding: 1.5rem 2rem;
	}

	.logo {
		padding-right: 1rem;
		font-size: 1.2rem;
	}

	nav ul {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
</style>
