---
import HeaderLink from '../components/HeaderLink.astro';
---

<nav
  class="container mx-auto bg-primary rounded-t-2xl border border-black py-4 px-6"
>
  <div class="flex justify-between items-center">
    <a href="/">
      <h1 class="text-4xl">a.m</h1>
    </a>
    <ul class="flex gap-5 text-xl">
      <HeaderLink text="About" link="#about" />
      <HeaderLink text="Blog" link="/blog" />
      <HeaderLink text="Work" link="/work" />
      <HeaderLink text="Contact" link="#contact" />
    </ul>
  </div>
</nav>
