---

---

<section class="container mx-auto border-x border-black border-b p-6 bg-white">
  <a title="Read: Article" href="">
    <h2
      class="text-xl md:text-4xl text-center border border-black p-8 bg-secondary text-white"
    >
      Featured Article
    </h2>
    <article
      class="h-[300px] md:h-[400px] border border-black border-t-0 relative flex p-6 whitespace-nowrap"
    >
      <div
        class="relative z-30 text-white self-end text-center md:text-left overflow-hidden"
      >
        <h3
          class="text-base md:text-2xl font-bold whitespace-normal line-clamp-2"
        >
          Be Lazy: Use TailwindCSS
        </h3>
        <p
          class="text-sm md:text-base font-light whitespace-normal line-clamp-2"
        >
          We take a look at how Tailwind boosted my productivity by 1000%
        </p>
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-t from-zinc-900 to-transparent z-20"
      >
      </div>
      <img
        class="absolute inset-0 w-full h-full object-cover object-center"
        src="https://images.unsplash.com/photo-1524666643752-b381eb00effb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3271&q=80"
        alt="tech"
      />
    </article>
  </a>
</section>
