---
import { Post } from '@/sanity/sanity';
import { urlForImage } from '@/sanity/urlForImage';

type Props = {
  post: Post;
};

const {
  post: { title, mainImage, slug, excerpt },
} = Astro.props;
---

<a
  class="block hover:scale-[1.02] focus:scale-[1.02] ease-in duration-100 border border-black gallery-link"
  href={`blog/${slug}`}
>
  <article>
    <div
      class="relative h-[300px] flex flex-col justify-end p-4 md:text-left text-center"
    >
      <h2
        class="relative z-20 text-white text-base md:text-lg mb-1 whitespace-normal line-clamp-2 font-bold"
      >
        {title}
      </h2>
      <p
        class="relative z-20 text-sm text-white whitespace-normal line-clamp-2"
      >
        {excerpt}
      </p>
      <img
        class="absolute inset-0 object-cover object-center w-full h-full z-0"
        src={urlForImage(mainImage).url()}
        alt="Cat"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-zinc-900 to-transparent z-10"
      >
      </div>
    </div>
  </article>
</a>

<style>
  .gallery-link {
    display: block;
    width: 100%;
  }

  @media (min-width: 768px) {
    .gallery-link {
      display: block;
      width: calc((100% / 3) - 1rem);
    }
  }
</style>
