---
import '../styles/config.css';

/* Fonts */
import '@fontsource/libre-baskerville';
import '@fontsource/source-sans-pro';

/* Astro Components */
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Contact from '@/components/Contact.astro';

/* Astro Props */
type Props = {
  title: string;
};
const { title } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-3 md:p-5">
    <div>
      <Navbar />
      <slot />
      <Contact />
      <Footer />
    </div>
  </body>
</html>
