---
import '../styles/config.css';

/* Fonts */
import '@fontsource/libre-baskerville';
import '@fontsource/source-sans-pro';
import '@fontsource/source-sans-pro/200.css';
import '@fontsource/source-sans-pro/300.css';
import '@fontsource/source-sans-pro/400.css';
import '@fontsource/source-sans-pro/600.css';
import '@fontsource/source-sans-pro/700.css';

/* Astro Components */
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Contact from '@/components/Contact.astro';

const defaultDescription =
  "Alan Martin - Software Developer | Explore Alan's personal site for a collection of insightful blog posts, work experiences, and contact information. Discover tech tutorials, thought-provoking articles, and more.";

/* Astro Props */
type Props = {
  title: string;
  description?: string;
  ogImage?: string;
};
const { title, description, ogImage } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || defaultDescription} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description || defaultDescription}
    />
    <meta property="og:image" content={ogImage || '/images/OG-image.png'} />
    <title>{title}</title>
  </head>
  <body class="p-3 md:p-5">
    <div>
      <Navbar />
      <slot />
      <Contact />
      <Footer />
    </div>
  </body>
</html>
